* {
  margin: 0 auto;
  padding: 0 auto;
  font-family: "Courier New", Courier, monospace;
  transition: 0.5s;
}

header {
  display: flex;

  text-align: center;
  align-items: center;
  background-color: black;
  height: 100px;
  width: 100%;
}
.toolbar {
  display: flex;
  width: 80%;
}
.toolbar a {
  font-size: 48px;
  color: #fff;
  text-decoration: none;
  position: relative;
  padding-bottom: 5px;
}

.toolbar a::before,
.toolbar a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  background-color: #fff;
  transition: all 0.5s ease;
}

.toolbar a::before {
  left: 50%;
}

.toolbar a::after {
  right: 50%;
}

.toolbar a:hover::before,
.toolbar a:hover::after {
  width: 50%;
}

/* index */
.index_up_panel {
  width: 100%;
  display: flex;
  background-color: black;
  min-height: 200px;
  text-align: center;
  align-items: center;
  padding-top: 50px;
}
.up_image_first {
  width: 300px;
}
.index_up_panel p {
  color: #fff;
  font-size: 48px;
  font-weight: bold;
}
.hello_block {
  width: 65%;
  margin-top: 70px;
  text-align: center;
}
.hello_block_title {
  font-size: 48px;
  font-weight: bold;
}
.hello_block_text {
  text-align: left;
  font-size: 32px;
  font-weight: bold;
  margin-top: 25px;
  max-width: 1100px;
}
.hello_block img {
  margin-top: 25px;
  border-radius: 10px;
}
.about_me_block {
  width: 100%;
  background-color: black;
  min-height: 100px;
  margin-top: 100px;
  text-align: center;
}
.about_me_title {
  padding-top: 20px;
  font-size: 64px;
  color: #fff;
}
.about_me_text {
  font-size: 32px;
  color: #fff;
  margin-top: 50px;
  max-width: 1600px;
  padding-bottom: 100px;
}
.index_team_block {
  width: 100%;
  margin-top: 100px;
  text-align: center;
}
.index_team_title {
  font-size: 64px;
}
.index_admin_text {
  font-size: 48px;
  margin-top: 50px;
}
.team_carts {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  max-width: 80%;
  gap: 10%;
}
.team_cart_block {
  width: 300px;
  height: 400px;
  margin-top: 50px;
}
.team_cart_block img {
  border-radius: 10px;
  width: 300px;
}
.team_cart_block p {
  margin-top: 25px;
  font-size: 32px;
}
.index_team_handlers {
  width: 100%;
  background-color: black;
  margin-top: 50px;
  padding-bottom: 50px;
}
.index_handlers_text {
  font-size: 48px;
  padding-top: 50px;
  color: #fff;
}
.team_cart_name {
  margin-top: 25px;
  font-size: 32px;
  color: #fff;
}
.motivation_index_block {
  text-align: center;
  margin-top: 100px;
  width: 100%;
}
.motivation_index_block p {
  font-size: 64px;
}
.motivation_index_block button {
  margin-top: 100px;
  margin-bottom: 200px;
  background-color: black;
  width: 80%;
  border-radius: 10px;
  font-size: 64px;
  color: #fff;
  cursor: pointer;
  border: 2px solid black;
}
.motivation_index_block button:hover {
  color: black;
  background-color: #fff;
}

/* news */
.content_reviews {
  width: 70%;
  text-align: center;
  margin-top: 50px;
}
.content_title {
  font-size: 64px;
}

/* reviews */
.statistick_reviews_block {
  display: flex;
  margin-top: 50px;
  max-width: 600px;
}
.quantity_statistick {
  font-size: 64px;
  font-weight: 600;
}
.text_statictick {
  font-size: 20px;
  font-weight: 600;
}
.reviews_slider {
  position: relative;
  width: 100%;
  min-height: 500px;
  margin-top: 50px;
  margin-bottom: 200px;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px; /* Ширина кнопок */
  height: 40px; /* Высота кнопок */
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 24px;
  z-index: 1;
}

.prev {
  left: 0;
  border-radius: 50% 0 0 50%;
}

.next {
  right: 0;
  border-radius: 0 50% 50% 0;
}

.slide {
  display: none;
}

.slide:first-child {
  display: block;
}

/* services */
.content_services {
  width: 80%;
  text-align: center;
  margin-top: 50px;
}
.services_blocks-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
  gap: 100px;
  margin-bottom: 100px;
}

.service_block {
  background-color: black;
  width: 300px;
  height: 400px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.title_service_block {
  color: #fff;
  font-size: 24px;
  margin: 15px 0;
  z-index: 1;
}

.service_image {
  width: 100%;
  height: 250px;
  transition: opacity 0.8s ease;
  width: 250px;
  filter: grayscale(70%);
  border-radius: 10px;
}

.service_info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  padding: 20px;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 0.8s ease;
}

.service_block:hover .service_image {
  opacity: 0;
}

.service_block:hover .service_info {
  opacity: 1;
}

.service-block-hr {
  border: 1px solid #fff;
  width: 90%;
}

.description_service_block {
  color: #fff;
  font-size: 18px;
  line-height: 1.4;
  margin-top: 20px;
}
.take_service-btn {
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #fff;
  width: 80%;
}
.take_service-btn:hover {
  color: #fff;
  background-color: black;
}
